<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>William's Testing API</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        body{
            background-color:#3e3e3e;
            color:white;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Hello and Welcome to William's Testing Student API</h1>
        <br>
        <h4>Please use this API nicely and with responsibility  :)</h4>
        <br>
        <br>
        <p>GET Request to /subject to get All the subjects</p>
        <p>GET Request to /student to get All the students</p>
    </div>
</body>
</html>